@import "commonality.scss";

#blbottom{
    width:100%;
    height:220px;
    background:#F3f3f3;
    .blbottom{
        width:1190px;
        height: 220px;
        margin: 0 auto;
        background: red;
        li{
            float: left;
        }
    }
}